{% extends 'base.html' %}
{% block content %}
 
  <div class="login-wrapper">
    <div class="login-box">
 
      <div class="login-logo">Logo</div>
 
      <h1>Login to<br>CareConnect+</h1>
 
      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="hello@purdyglobal.com">
        <span class="db-label">↑ Checked against Students/Patients or Medical_Staff table</span>
      </div>
 
      <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="••••••">
        <span class="db-label">↑ Validated against hashed password in DB</span>
      </div>
 
      <a href="{% url 'appointment:dashboard' %}" class="login-btn">Login</a>
 
      <p class="login-footer">New to us? <a href="#">Create an account</a></p>
 
    </div>
  </div>
 
{% endblock %}
