{% extends 'navigation.html' %}
{% block content %}

  <main class="main-content">

    <div class="confirmation-box">
      <h2>Appointment Confirmed</h2>
      <p><strong>Time:</strong> {{ slot.start_time }}</p>
      <p><strong>Date:</strong> {{ slot.date }}</p>
      <span class="db-label">Time and Date pulled from timeslot table — is_booked flag updated to 'True'</span>
    </div>

    <div class="conf-btn-container">
      <a href="{% url 'appointment:dashboard' %}" class="schedule-btn">Back to Dashboard</a>
      <a href="{% url 'appointment:intake_form' slot.id %}" class="book-btn">Fill out intake form</a>
    </div>
    
    
    
  </main>
{% endblock %}