{% extends 'navigation.html' %}
{% block content %}

  <main class="main-content">

    <div class="schedule-panel">
      <a href="dashboard.html" class="close-link">✕</a>
      <h2>Schedule Appointment</h2>

      <div class="date-picker-group">
        <form method="get">
           <label>Appointment Date</label>
           <input type="date" name="date" value="{{ selected_date|default:'' }}" onchange="this.form.submit()">
        </form>
        <span class="db-label">Date filters available slots from Timeslot table</span>
      </div>

      <div class="time-slots">
        <h3>Available Appointments</h3>
        <span class="db-label">Pulled live from Timeslot table — is_booked = False</span>
        <div class="slot-list" style="margin-top: 12px;">
              {% for slot in available_slots %}
             <button class="slot-btn" data-slot-id="{{ slot.id }}" onclick="selectSlot(this)">
               {{ slot.date|date:"D, M j" }} — {{ slot.start_time|time:"g:i A" }}
             </button>
             {% empty %}
             <p>No available appointments right now. Please check back later.</p>
             {% endfor %}
        </div>

        <form action="{% url 'appointment:save_appt' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="slot_id" id="selected-slot-input" value=""></input>
          <button class="confirm-btn" type="submit">
            Schedule Appointment
          </button>
        </form>

      </div>
    </div>

  </main>

<script>
  // Simple slot selection — highlights the clicked button

  function selectSlot(btn) {
    document.querySelectorAll('.slot-btn').forEach(function(b) {
      b.classList.remove('selected');
    });
    btn.classList.add('selected');
    document.getElementById('selected-slot-input').value = btn.dataset.slotId;
    console.log("activeSlotID: ", btn.dataset.slotId)
  }
</script>

{% endblock %}
