{% extends 'base.html' %}

{% block nav %}
<!-- Sidebar -->
<div class="page-wrapper">
    <aside class="sidebar">
        <div>
        <div class="sidebar-header">
            <div class="sidebar-logo">Logo</div>
            <h2>CareConnect+</h2>
        </div>
        <nav class="sidebar-nav">
            <a href="{% url 'appointment:dashboard' %}">Explore the Clinic</a>
            <a href="{% url 'appointment:staff_schedule' %}"><strong>Appointments</strong></a>
        </nav>
        </div>
        <div class="sidebar-bottom">
        <a href="#">Account Settings</a>

        <form method="post" action="{% url 'account:logout' %}" class="logout-form">
        {% csrf_token %}
            <button type="submit" class = logout-link">Logout</button>
        </form>

        </div>
    </aside>

    {% block content %}
    {% endblock %}

</div>
{% endblock %}